/2.4 Exercises/ProducerConsumer/target/
/2.4 Exercises/Relay/target/
/2.4 Exercises/Parking/target/
/TCPExample/nbproject/private/
/TCPExample/build/
/3.4 Exercises/Exercise1/nbproject/private/
/3.4 Exercises/Exercise1/build/
/3.4 Exercises/Exercise1/dist/
/3.4 Exercises/Exercise4/build/
/3.4 Exercises/Exercise4/nbproject/private/
/3.4 Exercises/Exercise2/nbproject/private/
/3.4 Exercises/Exercise2/build/
